<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="umi项目集成框架">
  <meta name="msapplication-TileImage" content="/static/assets/icon-144x144.png">
  <meta name="msapplication-TileColor" content="#2F3BA2">
  <!-- ios safari 添加至主屏幕元素 -->
  <!-- 1，应用图标 -->
  <link rel="apple-touch-icon" href="/static/assets/icon-152x152.png">
  <!-- 应用名称 -->
  <!-- <meta name="apple-mobile-web-app-title" content="宙斯" > -->
  <link rel="manifest" href="/static/manifest.json">

  <link rel="icon" href="/favicon.ico" type="image/x-icon" data-react-helmet="true">
  <title>umi项目</title>
  <!--[if lte IE 10]>
      <script
        src="https://as.alipayobjects.com/g/component/??console-polyfill/0.2.2/index.js,media-match/2.0.2/media.match.min.js"></script>
  <![endif]-->
</head>
<body>
  <div id="root"></div>
</body>
</html>